[Unit]
Description=Plot SPSA log and post to Misskey

[Service]
Type=oneshot
ExecStart=/bin/bash /path/to/ponkotsu_wcsc33/utils/note_spsa_log.sh /path/to/jiskey_access_token <MISSKEY_BASE_URL> <VISIBLE_USER_ID>
WorkingDirectory=/path/to/ponkotsu_wcsc33
